[XAdmin.xAdminConfigIni]
AdminUsers=(AdminName="utAdmin",Password="{{ item.rcon_password }}",Privileges=,Groups=("Admin"),ManagedGroups=)
AdminGroups=(GroupName="Admin",Privileges=,GameSecLevel=255)
AdminGroups=(GroupName="MatchSetup",Privileges="Xm",GameSecLevel=240)