  - name: Ensure COD2 related services are stopped
    ansible.builtin.include_role:
      name: roles/utils/os/systemd/service/stopped
    vars:
      utils_os_systemd_service_stopped__service_name: "{{ item }}"
    loop: "{{ games_cod2_server_installed__service_stop_targets }}"
    loop_control:
      label: "{{ item }}"

  - name: Ensure required packages are installed
    ansible.builtin.include_role:
      name: roles/utils/os/packages/installed
    vars:
      utils_os_packages_installed__packages: "{{ games_cod2_server_installed__packages }}"

  - name: Ensure COD2 service user exists
    ansible.builtin.include_role:
      name: roles/utils/os/users/service/created
    vars:
      utils_os_users_service_created__user: "{{ games_cod2_server_installed__user_name }}"
      utils_os_users_service_created__group: "{{ games_cod2_server_installed__group_name }}"
      utils_os_users_service_created__password: "{{ games_cod2_server_installed__user_password }}"
      utils_os_users_service_created__service_user_home: "{{ games_cod2_server_installed__home_directory }}"

  - name: Ensure /games/ directory exists
    become: true
    become_user: root
    ansible.builtin.file:
      path:  /games/
      state: directory
      mode: '0755'
      owner: "{{ games_cod2_server_installed__user_name }}"
      group: users

  - name: Ensure COD2 directories exist with correct ownership
    ansible.builtin.include_role:
      name: roles/utils/os/users/service/directory/permissions/granted
    vars:
      utils_os_users_service_directory_permissions_granted__user: "{{ games_cod2_server_installed__user_name }}"
      utils_os_users_service_directory_permissions_granted__group: "{{ games_cod2_server_installed__group_name }}"
      utils_os_users_service_directory_permissions_granted__directories:
        - "{{ games_cod2_server_installed__directory }}"
        - "{{ games_cod2_server_installed__home_directory }}"
        - "{{ (games_cod2_server_installed__directory, 'main') | ansible.builtin.path_join }}"

  - name: Ensure COD2 archives are downloaded and extracted
    ansible.builtin.include_role:
      name: roles/utils/os/file/archive/download_and_extract
    vars:
      utils_os_file_archive_download_and_extract__src: "{{ item.src }}"
      utils_os_file_archive_download_and_extract__file_name: "{{ item.file_name }}"
      utils_os_file_archive_download_and_extract__dest: "{{ item.dest }}"
      utils_os_file_archive_download_and_extract__user: "{{ item.user | default(games_cod2_server_installed__user_name) }}"
      utils_os_file_archive_download_and_extract__group: "{{ item.group | default(games_cod2_server_installed__group_name) }}"
      utils_os_file_archive_download_and_extract__mode: "{{ item.mode | default('0775') }}"
      roles_utils_os_file_archive_download_and_extract__temp_mode: "{{ games_cod2_server_installed__temp_mode | default(true) }}"
    loop: "{{ games_cod2_server_installed__archives }}"
    loop_control:
      label: "{{ item.file_name }}"

  - name: Ensure Environment Variables are properly set
    ansible.builtin.include_role:
      name: roles/utils/os/users/service/environment/variables/persisted
    vars:
      - utils_os_users_service_environment_variables_persisted__user: "{{ games_cod2_server_installed__user_name }}"
      - utils_os_users_service_environment_variables_persisted__group: "{{ games_cod2_server_installed__group_name }}"
      - utils_os_users_service_environment_variables_persisted__service_dir: "{{ games_cod2_server_installed__directory }}"

  - name: Enforce individual Instance cfg Templates
    become: true
    become_user: root
    ansible.builtin.template:
      src: templates/games/cod2/main/server_instance.cfg.j2
      dest: "{{ (games_cod2_server_installed__server_main, item.cfg) | ansible.builtin.path_join }}"
      owner: "{{ games_cod2_server_installed__user_name }}"
      group: "{{ games_cod2_server_installed__group_name }}"
      mode: '0644'
      backup: yes
    loop: "{{ games_cod2_server_installed__instances }}"

  - name: Create systemd service file for CoD2 instances
    become: true
    become_user: root
    ansible.builtin.copy:
      dest: /etc/systemd/system/{{ item.systemd_name }}.service
      content: |
        [Unit]
        Description={{ item.systemd_description }}
        After=network.target

        [Service]
        User={{ games_cod2_server_installed__user_name }}
        Group={{ games_cod2_server_installed__group_name }}
        WorkingDirectory={{ games_cod2_server_installed__directory }}
        Environment="LD_LIBRARY_PATH={{ games_cod2_server_installed__ld_library_path_string }}"
        ExecStart={{ games_cod2_server_installed__directory }}/cod2_lnxded +set dedicated {{ item.dedicated }} +set net_port {{ item.port }}{{ ' +set sv_cracked 1' if not item.cd_check | bool else '' }} +set fs_basepath {{ games_cod2_server_installed__directory }} +exec {{ item.cfg }} +set ttycon 0
        Type=simple
        KillMode=process

        [Install]
        WantedBy=multi-user.target
      owner: root
      group: root
      mode: '0644'
    loop: "{{ games_cod2_server_installed__instances }}"