game.serverName "{{ item.name }}"
game.serverDedicated 1
game.serverIP
game.serverPort 15567
game.gameSpyPort 23000
game.gameSpyLANPort 22000
game.ASEPort 15690
game.serverMaxPlayers 32
game.serverInternet 1
game.serverBandwidthChokeLimit 0
game.serverMaxAllowedConnectionType CTModem56Kbps
game.serverCoopCPU 100
game.serverPassword "{{ item.password }}"
game.serverNumberOfRounds 3
game.serverGameTime 0
game.serverScoreLimit 0
game.serverTicketRatio 100
game.serverCoopAISkill 50
game.serverAlliedTeamRatio 1
game.serverAxisTeamRatio 1
game.serverSpawnTime 15
game.serverSpawnDelay 5
game.serverGameStartDelay 20
game.serverAutoSwitchTeams 0
game.serverTicketsCarryOver 0
game.serverCPThreatIndicator 0
game.serverAllowSpectators 0
game.serverAllowSpectatorChat 0
game.serverAllowSpectatorVoting 0
game.serverSpectatorAllowSwitchTime 120
game.serverPunkBuster 0
game.serverSoldierFriendlyFire 100
game.serverSoldierFriendlyFireOnSplash 100
game.serverVehicleFriendlyFire 100
game.serverVehicleFriendlyFireOnSplash 100
game.serverKickback 0.00
game.serverKickbackOnSplash 0.00
game.serverTKPunishMode 0
game.serverAutoBalanceTeams 0
game.serverExternalViews 1
game.serverAllowNoseCam 1
game.serverFreeCamera 0
game.serverHitIndication 1
game.serverDeathCameraType 0
game.serverCrosshairCenterpoint 1
game.serverNameTagDistance 100
game.serverNameTagDistanceScope 300
game.serverClanTagTeam1 ""
game.serverClanTagTeam2 ""
game.serverNumReservedSlots 0
game.serverReservedPassword ""
game.serverEventLogging 1
game.serverEventLogCompression 0
